*{
    scroll-behavior: smooth;    
}

body {
    font-size: 25px;
}

p {
    color: rgb(143, 143, 143);
}

#header {
    text-align: center;
    background-image: url("img/landing-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding-bottom: 170px;
    -webkit-clip-path: polygon(100% 0, 100% 81%, 37% 100%, 0 84%, 0 0);
    clip-path: polygon(100% 0, 100% 81%, 37% 100%, 0 81%, 0 0);
}
#header_title {
    width:fit-content;    
}

#header_title h1 {
    font-size: 8rem;
    
}

.nav {
    padding-bottom: 300px;
    padding-top: 30px;    
    font-size: 35px;
    
    
}
a.nav-link {
    padding: 0 25px;
}

.buttons {
    background-color: rgb(31, 48, 74);
    box-shadow: 0px 0px 37px -3px #363636;	
	color:#ffffff;	
	font-size:30px;
	padding: 10px 40px;
	text-decoration:none;
    transition: all 0.5s ease;    
    text-align: left;
    
}
.buttons:hover {
    background-color: rgb(46, 73, 112);    	
	cursor:pointer;
    color: #ffffff;	
	text-decoration:none;
    transition: all 0.5s ease;
    
    
}

#about .fas, .fab {
    color: rgb(206, 206, 206);
    font-size: 6em;
    padding-bottom: 50px;
    
}


.heading {
    counter-increment: inst;
    padding: 35px 100px;
}
.heading:before {
    content: "0" counter(inst);
    display: block;
    color: rgb(206, 206, 206);
    font-size: 1.5rem;    
}

#about h2 {
    padding: 20px 0;
    height: 15%;
}
#about p {
    margin-bottom: 20px;    
    padding: 20px 10px;    
}

#films {
    margin: auto;
}

#films td {
    padding: 10px 30px;
    
}

#films td:last-child{
    text-align: right;
}

.comment_area {
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    border-bottom: 1px solid black;
}

#comments .fas {
    font-size: 45px;
 
}

#comments .fas:hover {
    color: #636363;
    cursor: pointer; 
}



.cmt_items {
    display: block;    
    padding: 10px;
    text-decoration: none;
    margin: 70px;
    
    
}

@media only screen and (max-width: 1420px) {
  
    #header_title h1 {
        font-size: 6rem;        
    }    
    .nav {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 995px) {
    body {
        font-size: 20px;
    }
    #header_title h1 {
        font-size: 4rem;        
    }
    #header_title h3 {
        font-size: 1rem;        
    }    
    .nav {
        padding-bottom: 50px;           
        font-size: 25px;       
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }
    #header_title h1 {
        font-size: 3rem;        
    }
    #header_title h3 {
        font-size: 0.8rem;        
    }    
    .nav {
        padding-bottom: 50px;           
        font-size: 20px;       
    }
    h2 {
        font-size: 25px;
    }
    .buttons {
        font-size: 25px;
    }
}

